table {
    width:70%;
  }
  
  img {
    width:80%;
  }
  
  table, th, tr, td {
    border: 1px solid black;
  }
  
  td {
   padding: 0 10px;
  }

  .favorite {
    color: #ED254E
  } 
  
  .not-so-favorite {
    color: #05B2DC;
  }
  
  .header-favorite {
    background-color: #FAA613;
    color: #550527;
  }
  
  .header-not-so-favorite {
    background-color: #CADBC0;
    color: #103900;
  }